body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
}

#root {
  padding: 20px;
}

.MuiListItem-root {
  cursor: pointer;
}

.MuiListItem-root.Mui-selected {
  background-color: rgba(0, 0, 0, 0.08);
}
